################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net5.0
/WebstorePhones.Business/bin/Debug/net5.0
/WebstorePhones.Business/obj/Debug/net5.0/ref
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.AssemblyInfo.cs
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.AssemblyInfoInputs.cache
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.csproj.AssemblyReference.cache
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.csproj.CopyComplete
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.csproj.CoreCompileInputs.cache
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.dll
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.GeneratedMSBuildEditorConfig.editorconfig
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.pdb
/WebstorePhones.Domain/bin/Debug/net5.0
/WebstorePhones.Domain/obj/Debug/net5.0/ref/WebstorePhones.Domain.dll
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.AssemblyInfo.cs
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.csproj.CoreCompileInputs.cache
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.csproj.AssemblyReference.cache
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.AssemblyInfoInputs.cache
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.dll
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.GeneratedMSBuildEditorConfig.editorconfig
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.pdb
/WebstorePhones.Domain/obj/project.nuget.cache
/WebstorePhones.Business/obj/project.nuget.cache
/WebstorePhones.Business/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/WebstorePhones.Business/obj/Release/net5.0/WebstorePhones.Business.AssemblyInfo.cs
/WebstorePhones.Business/obj/Release/net5.0/WebstorePhones.Business.AssemblyInfoInputs.cache
/WebstorePhones.Business/obj/Release/net5.0/WebstorePhones.Business.assets.cache
/WebstorePhones.Business/obj/Release/net5.0/WebstorePhones.Business.GeneratedMSBuildEditorConfig.editorconfig
/WebstorePhones.Domain/obj/Release/net5.0
/WebstorePhones.Business.Testing/bin/Debug/net5.0
/WebstorePhones.Business.Testing/obj
/WebstorePhones.ConsoleApp/bin/Debug/net5.0/ref
/WebstorePhones.ConsoleApp/bin/Debug/net5.0
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/ref
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.csproj.AssemblyReference.cache
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.assets.cache
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.AssemblyInfoInputs.cache
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.AssemblyInfo.cs
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/WebstorePhones.ConsoleApp/obj/WebstorePhones.ConsoleApp.csproj.nuget.g.targets
/WebstorePhones.ConsoleApp/obj/WebstorePhones.ConsoleApp.csproj.nuget.g.props
/WebstorePhones.ConsoleApp/obj/WebstorePhones.ConsoleApp.csproj.nuget.dgspec.json
/WebstorePhones.ConsoleApp/obj/project.nuget.cache
/WebstorePhones.ConsoleApp/obj/project.assets.json
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.genruntimeconfig.cache
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.csproj.FileListAbsolute.txt
/WebstorePhones.Domain/obj/Debug/net5.0
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.pdb
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.genruntimeconfig.cache
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.dll
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.csproj.FileListAbsolute.txt
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.csproj.CoreCompileInputs.cache
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/WebstorePhones.ConsoleApp.csproj.CopyComplete
/WebstorePhones.ConsoleApp/obj/Debug/net5.0/apphost.exe
/WebstorePhones.ConsoleApp/obj/Debug/net5.0
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.genruntimeconfig.cache
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.csproj.FileListAbsolute.txt
/WebstorePhones.Business/obj/Debug/net5.0
/WebstorePhones.Business/obj
/WebstorePhones.ConsoleApp/obj/Release/net5.0
/WebstorePhones.Domain/obj
/WebstorePhones.WinForms/obj
/WebstorePhones.WinForms/bin/Debug/net5.0-windows
/ImportTool.ConsoleApp/bin/Debug/net5.0
/ImportTool.ConsoleApp/obj/Debug/net5.0/ref/ImportTool.ConsoleApp.dll
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.pdb
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.genruntimeconfig.cache
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.dll
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.csproj.CopyComplete
/AddPhone/obj/Debug/net5.0-windows
/AddPhone/obj
/AddPhone/bin/Debug/net5.0-windows
/TestResults
/WebstorePhones.Testing/obj/*
/WebstorePhones.Testing/bin/Debug/net5.0/fine-code-coverage/coverage-tool-output
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.AssemblyInfoInputs.cache
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.AssemblyInfo.cs
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.csproj.AssemblyReference.cache
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.csproj.CoreCompileInputs.cache
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.csproj.GenerateResource.cache
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
/ImportTool.ConsoleApp/obj/Debug/net5.0/ImportTool.ConsoleApp.Properties.Resources.resources
/WebstorePhones.Testing/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/WebstorePhones.Testing/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/WebstorePhones.Testing/bin/Debug/net5.0/cs
/WebstorePhones.Testing/bin/Debug/net5.0
/WebstorePhones/ImportTool.ConsoleApp/obj/*