################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net5.0
/WebstorePhones.Business/bin/Debug/net5.0
/WebstorePhones.Business/obj/Debug/net5.0/ref
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.AssemblyInfo.cs
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.AssemblyInfoInputs.cache
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.csproj.AssemblyReference.cache
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.csproj.CopyComplete
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.csproj.CoreCompileInputs.cache
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.dll
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.GeneratedMSBuildEditorConfig.editorconfig
/WebstorePhones.Business/obj/Debug/net5.0/WebstorePhones.Business.pdb
/WebstorePhones.Domain/bin/Debug/net5.0
/WebstorePhones.Domain/obj/Debug/net5.0/ref/WebstorePhones.Domain.dll
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.AssemblyInfo.cs
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.csproj.CoreCompileInputs.cache
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.csproj.AssemblyReference.cache
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.AssemblyInfoInputs.cache
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.dll
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.GeneratedMSBuildEditorConfig.editorconfig
/WebstorePhones.Domain/obj/Debug/net5.0/WebstorePhones.Domain.pdb
/WebstorePhones.Domain/obj/project.nuget.cache
/WebstorePhones.Business/obj/project.nuget.cache
/WebstorePhones.Business/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/WebstorePhones.Business/obj/Release/net5.0/WebstorePhones.Business.AssemblyInfo.cs
/WebstorePhones.Business/obj/Release/net5.0/WebstorePhones.Business.AssemblyInfoInputs.cache
/WebstorePhones.Business/obj/Release/net5.0/WebstorePhones.Business.assets.cache
/WebstorePhones.Business/obj/Release/net5.0/WebstorePhones.Business.GeneratedMSBuildEditorConfig.editorconfig
/WebstorePhones.Domain/obj/Release/net5.0
