################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net5.0
/WebstorePhones.Business.Testing/obj
