@page "/register"
@using WebstorePhones.Api.Models
@using WebstorePhones.ApiClient
@using WebstorePhones.Domain.Entities
@inject IApiClient<User> apiClient

<h2>Register</h2>

<div>
    <Label>Username:</Label>
    <TextEdit Role="TextRole.Text" Size="Size.Small" Width="Width.Is25" @bind-Text="@Username" />
    <Label>Email:</Label>
    <TextEdit Role="TextRole.Text" Size="Size.Small" Width="Width.Is25" @bind-Text="@Email" />
    <Label>Password:</Label>
    <TextEdit Role="TextRole.Password" Size="Size.Small" Width="Width.Is25" @bind-Text="@Password" />
    <Button @onclick="Submit">Submit</Button>

</div>
<div>
    <Label>@response</Label>
</div>

@code {
    public string Username { get; set; }
    public string Email { get; set; }
    public string Password { get; set; }

    public string response { get; set; }

    public async Task Submit()
    {
        var postReply = await apiClient.PostAsync(
            "/api/User/create",
            new User() { Username = Username, Email = Email, Password = Password }
            );
        if (postReply.IsSuccessStatusCode)
        {
            response = $"User {Username} registered";
        }
        else
        {
            response = $"Something went wrong";
        }
    }
}