<div>
    <Label>Username:</Label>
    <TextEdit Role="TextRole.Text" Size="Size.Small" Width="Width.Is25" @bind-Text="@name"/>
    <Label>Password:</Label>
    <TextEdit Role="TextRole.Password" Size="Size.Small" Width="Width.Is25" @bind-Text="@password"/>
</div>

@code {
    private string name{ get; set; }
    private string password{ get; set; }
}
