<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filelogger" value="C:\Users\rsmar\Desktop\LogFiles\ImportToolLogFile.txt" />
		<add key="connectionString" value="Data Source=LAPTOP-I9V7KFJQ;Initial Catalog=WebstorePhones;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</appSettings>
</configuration>